
.HJ_contact{
    margin-bottom: 18%;
  
}


@media screen and (max-width: 992px) {
    .HJ_contact{
        margin-bottom: 25%;
    }
}
@media screen and (max-width: 576px) {
    .HJ_contact{
        margin-bottom: 40%;
    }

}